@charset "utf-8";
/* CSS Document */
p{
	color: darkblue;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, "serif";
	font-size: 16px;
	line-height: 18px;
	width:600px;
	background-color: antiquewhite;
	padding: 20px;
}
.paragraf_2{color:darkcyan; background-color: rgba(255,255,255,0.5);}
.novi_blok{
	background-color: rgba(255,255,255,0.5);
	padding: 20px;
	margin: 20px;
	width: 50
}
h1, h2{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	color:indigo;
	
}
span{color: darkred;
}
.pozadina{
	background-image: url("slike/pozadina_6.jpg")
}
.drugapozadina{
	background-color: #809D7F;
}
a:link {
	color: black;
	background-color: white;
	padding: 5px;
	line-height: 40px;
	border: 1px solid #000000;
}
a:hover{
	background-color: darkgray;
}
img{ height: 200px;

}
